#!/usr/bin/env ruby

passthrough '/README.md'

passthrough '/assets/bootstrap-3.3.1/**/*'
passthrough '/assets/favicons/**/*'
passthrough '/assets/font-awesome-4.6.1/**/*'
passthrough '/**/slides/*'

compile '/assets/*' do
  unless item.binary?
    filter :cache_buster, directory: '/assets/'
  end
  write CacheBuster.path(item)
end

compile '/**/*.md' do
  filter :erb
  filter :redcarpet, options: {filter_html: true, autolink: true, no_intraemphasis: true, fenced_code_blocks: true, gh_blockcode: true, tables: true}, renderer_options: {with_toc_data: true}
  filter :bootstrappify

  case
  when item.identifier =~ '/**/speakers/*'
    layout '/kind/speaker.html'
  when item.identifier =~ '/**/talks/*'
    layout '/kind/talk.html'
  end

  layout '/container.html'
  layout '/default.html'

  filter :cache_buster, directory: '/assets/'
end

compile '/**/*.json' do
  write item.identifier
end

compile '/**/*.xml' do
  write item.identifier
end

route '/**/*.md' do
  if item.identifier =~ '/**/index.*'
    item.identifier.without_ext + '.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
