#!/usr/bin/env ruby

passthrough '/README.md'
passthrough '/assets/**/*'

compile '/**/*.md' do
  filter :erb
  filter :redcarpet, options: {filter_html: true, autolink: true, no_intraemphasis: true, fenced_code_blocks: true, gh_blockcode: true, tables: true}, renderer_options: {with_toc_data: true}
  filter :bootstrappify

  case
  when item.identifier =~ '/**/speakers/*'
    layout '/kind/speaker.html'
  when item.identifier =~ '/**/talks/*'
    layout '/kind/talk.html'
  end

  case
  when item.identifier =~ '/2016-berlin/**/*'
    layout '/2016-berlin.html'
  else
    layout '/2017-munich.html'
  end
  layout '/default.html'
end

route '/**/*.md' do
  if item.identifier =~ '/**/index.*'
    item.identifier.without_ext + '.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
