<div class="header-banner berlin-banner <%= item.identifier =~ '/**/index.md' ? 'fadein-banner' : '' %>">
    <div class="container">
    <h1><img src="/assets/prometheus_logo.svg" alt="Prometheus logo"> PromCon 2016</h1>
    <p class="subtitle">The Prometheus conference — August 25 - 26 in Berlin</p>
    </div>
</div>

<%= render '/_navigation.html' %>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="content">
        <%= yield %>
      </div>

      <hr>

      <footer>
        <p class="pull-left">
          <a href="/2016-berlin/">PromCon 2016</a> |
          <a href="/2017-munich/">PromCon 2017</a> |
          &copy; Prometheus Authors 2017
        </p>
        <p class="pull-right">
          Header photo: &copy; <a href="https://www.flickr.com/photos/line68/10555465713">Céline Lang</a>
        </p>
      </footer>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
