<div class="header-banner <%= conference.banner_class %> <%= 'fadein-banner' if item.identifier =~ '/**/index.md' %>">
    <div class="container">
    <h1><img src="/assets/prometheus_logo.svg" alt="Prometheus logo"> <%= conference.title %></h1>
    <p class="subtitle"><%= conference.subtitle %></p>
    </div>
</div>

<%= render '/_navigation.html' %>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="content">
        <%= yield %>
      </div>

      <hr>

      <footer>
        <p class="pull-left">
          <% conferences.each do |conference| %>
          <a href="<%= conference.path %>"><%= conference.title %></a> |
          <% end %>
          &copy; Prometheus Authors 2016-2025
        </p>
        <p class="pull-right">
          <%= conference.banner_copyright %>
        </p>
      </footer>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
